---
import Layout from '../layouts/Layout.astro';
import OnboardingFlow from '../components/OnboardingFlow';
---

<Layout title="MindEase - Getting Started">
	<main>
		<OnboardingFlow client:load />
	</main>
</Layout>
